<ion-content>
  <div class="form">
    <!-- <h1>VantTec</h1> -->
    <!-- login form  -->
    <!-- ion-img depends of dark or light theme  -->
    <!-- <ion-img src="/assets/logo/VANTTEC_BLANCO.png"></ion-img> -->
    <!-- <ion-img src="/assets/logo/VANTTEC_NEGRO.png"></ion-img> -->
    <div class="background">

    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onRegister()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="firstName" autocomplete="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName" autocomplete="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Secret Key</ion-label>
        <ion-input type="password" formControlName="secretKey"></ion-input>
      </ion-item>
      <ion-button color="dark" ype="submit" expand="block" [disabled]="!loginForm.valid" (click)="onRegister()">Register</ion-button>
      <a  routerLink="/login">Already have an account? Sign In</a>
    </form>
  </div>
</ion-content>